<!doctype html>
<html lang="es">
  <head>
    <!--meta tags-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--styles
      https://watercss.kognise.dev
      https://tailwindcss.com/docs/installation
      -->
    <link rel="stylesheet" href="/css/tailwindcompiled.css">
    <!--js-->
    <script src="https://kit.fontawesome.com/c0aadc9be8.js" crossorigin="anonymous"></script>
    <!--SEO-->
    <title>Document</title>
    <!-- utils
        https://moqups.com/es/templates/wireframes-mockups/ecommerce-wireframe/
    -->
  </head>

  <body class="bg-white">
    <div class="min-h-screen bg-gray-300">
      <header
        class="sticky top-0 flex items-center justify-center bg-white shadow-[0_4px_9px_-4px_#cbcbcb]"
      >
        <nav class="m-2 w-full">
          <div class="flex items-center font-mono" role="navigation">
            <a
              href="/index.html"
              class="mx-4 hidden w-1/5 lg:inline-block"
            >
              <div class="flex">
                <img
                  src="/assets/imgs/autocarpet_logo.png"
                  alt=""
                  class="my-0"
                />
              </div>
            </a>
            <div class="flex grow">
              <input
                type="text"
                placeholder="¿Que estas buscando?"
                class="w-full rounded-r-none font-sans focus:ring-0"
              />
              <button
                class="relative flex items-center rounded-l-none uppercase focus:ring-0"
                type="button"
              >
                <span class="fas fa-search"></span>
              </button>
            </div> 
            <div class="ml-4 cursor-pointer md:hidden">
              <span class="fas fa-bars text-4xl"></span>
            </div>
            <div class="hidden grow md:block">
              <ul class="flex items-center justify-evenly">
                <li class="mx-1"><a href="#">Nosotros</a></li>
                <li class="mx-1"><a href="products.html">Productos</a></li>
                <li class="mx-1"><a href="#">Personalización</a></li>
                <li class="mx-1"><a href="login.html">Log In</a></li>
                <li class="mx-1">
                  <button class="focus:ring-0">
                    compras
                    <span class="fa-solid fa-cart-shopping"></span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <main class="flex">
        <div class="container mx-auto">
          <div class="my-10 flex justify-center px-6">
            <div class="flex lg:w-11/12 xl:w-3/4">
              <div
                class="hidden rounded-l-lg bg-cover lg:block lg:w-1/2"
                style="
                  background-image: url('/assets/imgs/banners_autocarpet_tapetesgeneralMesa-de-trabajo-1-1100x519.png');
                "
              ></div>
              <div
                class="w-full rounded-lg bg-white p-5 lg:w-1/2 lg:rounded-l-none"
              >
                <div class="mb-4 px-8 text-center">
                  <h3 class="mb-2 pt-4 text-2xl">¿Olvidaste tu contraseña?</h3>
                  <p class="mb-4">
                    Lo entendemos, pasan cosas. ¡Simplemente ingrese su
                    dirección de correo electrónico a continuación y le
                    enviaremos un enlace para restablecer su contraseña!
                  </p>
                </div>
                <form class="mb-4 px-8 pb-8 pt-6">
                  <div class="mb-4 flex">
                    <input
                      id="login-email"
                      class="w-full shadow"
                      id="email"
                      type="email"
                      placeholder="Email"
                    />
                  </div>
                  <div class="mb-6">
                    <button class="w-full" type="button">
                      Restablecer la contraseña
                    </button>
                  </div>
                  <hr class="mb-6 border-t" />
                  <div class="text-center">
                    <a class="" href="./signup.html"> ¡Crea una cuenta! </a>
                  </div>
                  <div class="text-center">
                    <a class="" href="login.html">
                      ¿Ya tienes una cuenta? Ingresa!
                    </a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="/app/modulo/ventas-distribucion/main.js"></script>
  </body>
</html>
